<div class="footer">
   
 
   <p>
      Block Parties • Picnics • Corporate Events • Carnivals • Birthday Parties • Companies Picnics • Church Fairs • School Fairs • Fundraisers
      <br><br>
      ZERO GRAVITY INFLATABLES 	&#x00A9 2022  ~ (405) 596-5676</p>
    </div>
    