
 <div class="mainContent">
   <div class="callGreet">
   <div id="callNow">
Call Us 
   </div>
   <div id="contactNow">
    Contact Us 
    </div>
    <div id="inventoryNow" onclick="invDirect()">
   Inventory
    </div>
   </div>


<div class="mainPageDiv" id="greeting">
   <h1 class="title"> &#8595 More About Us  &#8595</h1>
    <h1 class="title">Our Bouncehouse Rentals </h1>
    <p>
      <br>
           Zero Gravity Inflatables is a family owned and operated inflatable rental business located in Blanchard Ok.  We are excited to serve the <strong>Oklahoma City and surrounding</strong>   areas.  We offer Inflatable products for all of your party needs.  We will be continually adding to our inflatables and party inventory. So be sure to keep checking our website for new equipment. </p>
      <br><br>
      <p class>
      At Zero Gravity Inflatable’s all of our inflatables are well maintained and are made out of  <img class="mainImg0"src="../images/gBounce.png">high quality commercial grade materials.  Our inflatables are state inspected and insured so you can be sure that your loved ones and friends are having fun on the safest Inflatable equipment available.  At Zero Gravity Inflatables we strive to provide each customer with outstanding customer service as well as safe, clean inflatables for hours of bouncing fun for everyone.
         </p>
  </div>

  
</div>