
   <div class="mainPageDiv" id="greeting">
      <div class="callGreet">
         <div id="callNow">
      <a href="tel:4055965676"><h1  class="butt">Call Us </h1></a>
         </div>
         <div id="contactNow" onclick="menuDirect(menu3)">
            <a href="mailto:zgravityinflatables@gmail.com">
         <h1 class="butt">Email Us </h1></a>

         </div>
         <div id="inventoryNow" onclick="menuDirect(menu0)">
        <h1 class="butt">Rentals</h1>
         </div>
         </div>
      <h1 class="title"> &#8595 More About Us  &#8595</h1>
      <h1 class="title">Bouncehouse Rentals </h1>
      <p>
       <br>
            Zero Gravity Inflatables is a family owned and operated inflatable rental business located in Blanchard Ok.  <img class="mainImg"src="../images/candid0.png"> We are excited to serve the <strong>Oklahoma City and surrounding</strong>   areas.  We offer Inflatable products for all of your party needs.  We will be continually adding to our inflatables and party inventory. So be sure to keep checking our website for new equipment. </p>
       <br><br>
    
   </div>

