<div id="logoDiv">
<img id="zg0" alt="Zero Gravity Bouncehouse Rentals | Oklahoma City, OK" src="../images/zg0.png" alt="">
<img id="zg1" alt="Zero Gravity Bouncehouse Rentals | Oklahoma City, OK" src="../images/zg1.png" alt="">
   </div>
   

