
        <div class="menuPageDiv" id="menu3">
        
            <p>Contact Zero Gravity Inflatables, LLC    <br>
              Phone: 405-596-5676     <br>
              email: zgravityinflatables@gmail.com</p>
              <br>

              
            <h1>Send a Message</h1>
            <h2>We'll get back to you as soon as possible</h2>

            <form id="form0" action="/sendData" method="POST" >
              <label>Your Name</label>
              <input id="fname" name="fname" type="text">
              <label>Your Email</label>
              <input id="email" name="email" type="text">
              <label>Leave us a Message</label>
              <input draggable="true" id="message" name="message" type="text">
           <input type="submit">
            </form>
          





              <img class="mainImg"src="../images/bBounce.png">
      
        </div>