<div id="menuPage">
    <div class="menuOptionDiv">
        <ul>
            <li onclick="closeOption()" class="title">Home Page</li>   
            <li onclick="menuOption(menu0)" class="title">Bouncehouses</li>
            <li onclick="menuOption(menu1)" class="title">About our Business</li>
            <li onclick="menuOption(menu2)" class="title">Policies and FAQs</li>
            <li onclick="menuOption(menu3)" class="title">Contact Us</li>
     
        </ul>
    </div>
    <!----Add Zero Grav Logo here --->
    <div id="menuFoot">developed by: <a href="/w2">W2 Marketing</a></div>
</div>