
        <div class="menuPageDiv"id="menu0">
          <div>
          <h2 class="subtitle">Bouncehouse Rentals and Pricing</h2>
<div>
  <h1 class="title">Adventure Balloon</h1>
  <h2 class="subtitle">15' x 15' Bouncehouse</h2>
  <div class="inventory">
        
            <span class="pricing">
              $125.00 - 4 hours <br> $175.00 - Day
            </span>
            <img class="mainImg"src="../images/house0.png">
            <p>Kids always like to dream and picture themselves in a hot-air balloon. Give them the opportunity to get closer to their dream. Our colorful inflatable balloons are designed to help kids reach the edge of incredible fun and interaction while jumping high as if flying in a balloon. Bouncing in our adventure balloon will give kids the sense of adventure and provide them with never ending jumping fun.
              <br>
            
            </p>
          </div>
<br><br>


<h1 class="title">Multicolored Castle</h1>
<h2 class="subtitle">15' x 15' Bouncehouse</h2>
          <div class="inventory">
        
            <span class="pricing">
              $125.00 - 4 hours <br> $175.00 - Day
            </span>
            <img class="mainImg"src="../images/house1.png">
            <p>We make sure our inflatable castles are so colorful and attractive that kids can't stop from jumping and laughing. Our multi color castle is made of primary colors and will work great for boys or girls. It is a great fit for almost any occasion.  Our colorful jumpers are brand new and  will entertain your little royals for hours.
              <br>
           
            </p>
          </div>

          <br><br>

          
          <h1 class="title">3 in 1 Castle Combo</h1>
          <h2 class="subtitle">32'L x 13'W x 13'H Bouncehouse/Slide</h2>
          <div class="inventory">
           
            <h2>Wet or Dry (removable pool and stopper)</h2>
            <span class="pricing">
              $275 (dry) - 4 hours <br> $325 (dry)-Day
             </span>
             <span class="pricing">
              $350 (wet) - 4 hours <br> $400 (wet) -Day
             </span>
             <img class="mainImg"src="../images/house2.png">
            <p>At Zero Gravity Inflatable’s we take into account that children are more attracted to bright vibrant colors.  It’s our bright colors that make bouncing even more joyful and delightful. Plus, our combo offers not only jumping fun but other  activities as well.  Children also get to climb and slide! You decide if you want the wet slide combo or the dry slide combo.  That means, you get triple inflatable fun in just one combo jumper! This colorful combo castle provides triple long-lasting fun and laughter throughout the whole bouncing season. Our inflatable combo castles are designed for your kids' super royal needs.
              <br>
        
            </p>
          </div>



          <!------------>
        </div>
        </div>
        </div>
       