
        <div class="menuPageDiv" id="menu1">
           
            <br><br>
           <p>
            We offer a variety of rentals to add to any type of party. There's no age limit when it comes to having fun and making memorable moments.
            All of our bouncers are well maintained and designed<img class="mainImg0"src="../images/bBounce.png"> with the safest updated features which include safety netting, safety entrance (smaller so children do not fall out) and exit, fire resistant materials, entrance ramp and emergency exits(such as a removable roof top).
            <br><br>
             
            
            We are located in Blanchard, Ok. and serve the surrounding Oklahoma City metro areas.  We provide fun, safe quality equipment. In order to provide a safe environment for you we set up, take down and test all of our equipment before turning it over to our valued customers. After every rental our units are thoroughly checked and cleaned. Safety instructions are given orally and in writing to each of our<img class="mainImg0"src="../images/BounceBKG.png"> customers. We also require  that a safety check off sheet is filled out by our staff at the time of set up.  This helps to ensure that the inflatables are set up correctly and are delivered in good working condition.
            
             
            
            Note: There is a one time gas charge of $25.00 for any party that is more than 30 miles one way.
            
            Zero Gravity Inflatables…the party begins with us!
            
            Zero Gravity Inflatables…the party begins with us!
            <img class="mainImg0"src="../images/BounceBKG.png">
           </p>
        </div>
        <br><br>
        <div class="mainPageDiv" id="greeting">
            <h1 class="title"> &#8595 More About Us  &#8595</h1>
             <h1 class="title">Our Bouncehouse Rentals </h1>
             <p>
               <br>
                    Zero Gravity Inflatables is a family owned and operated inflatable rental business located in Blanchard Ok.  We are excited to serve the <strong>Oklahoma City and surrounding</strong>   areas.  We offer Inflatable products for all of your party needs.  We will be continually adding to our inflatables and party inventory. So be sure to keep checking our website for new equipment. </p>
               <br><br>
               <p class>
               At Zero Gravity Inflatable’s all of our inflatables are well maintained and are made out of  <img class="mainImg0"src="../images/gBounce.png">high quality commercial grade materials.  Our inflatables are state inspected and insured so you can be sure that your loved ones and friends are having fun on the safest Inflatable equipment available.  At Zero Gravity Inflatables we strive to provide each customer with outstanding customer service as well as safe, clean inflatables for hours of bouncing fun for everyone.
                  </p>
           </div>