
        <div class="menuPageDiv" id="menu3">
      
            <p>Contact Zero Gravity Inflatables, LLC    <br>
             <a href="tel:4055965676"> Phone: 405-596-5676 </a>    <br>
             <a href=" mailto:zgravityinflatables@gmail.com"> email: zgravityinflatables@gmail.com</a></p>
              <h1>Send a Message</h1>
            <h2>We'll get back to you as soon as possible</h2>

            <form id="form0" action="/sendData" method="POST" >
            
              <input placeholder="Name" id="fname" name="fname" type="text">
             
              <input placeholder="Email or Phone" id="email" name="email" type="text">
              <input placeholder="Message" draggable="true" id="message" name="message" type="text">
         
              <input placeholder="Event Date"  id="date" name="date" type="date">
             <h2 style="margin-bottom:1px;">Interested in a specific rental?</h2>
              <select name="invType" id="">
<option value="Adventure Baloon">Adventure Baloon</option>
<option value="Multicolored Castle">Multicolored Castle</option>
<option value="3 in 1 Castle">3 in 1 Castle</option>
<option value="Tropical Slip and Slide">Tropical Slip and Slide</option>
<option value="Super Combo Double Lane">Super Combo Double Lane</option>
<option value="Tropical Water Slide">Tropical Water Slide</option>
<option value=""></option>
<option value=""></option>

              </select>
           <button style="color:white;" id="contactNow" type="submit">Submit</button>
            </form>
          





              <img class="mainImg"src="../images/bBounce.png">
      
        </div>