
        <div class="menuPageDiv" id="menu3">
        
            <p>Cont@ct Zero Gravity Inflatables, LLC    
              Phone: 405-596-5676     
              email: zgravityinflatables@gmail.com
              <br>
            <h1>Send a Message</h1>
            <h2>We'll get back to you on as soon as possible</h2>

            <form id="form0" action="sendData" method="POST" >
              <label></label>
              <input id="fname" name="fname" type="text">
              <label></label>
              <input id="email" name="email" type="text">
              <label></label>
              <input id="message" name="message" type="text">
           <input type="submit">
            </form>






              <img class="mainImg"src="../images/bBounce.png">
            </p>
        </div>