<div id="menuButton">
    <div onclick="menuOpen()" class="buttonContainer">
        <div class="burger" id="burgTop"></div>
        <div class="burger" id="burgMid"></div>
        <div class="burger" id="burgBottom"></div>
    </div>
</div>