
        <div class="menuPageDiv" id="menu1">
           
            <br><br>
           <p>
            We offer a variety of rentals to add to any type of party. There's no age limit when it comes to having fun and making memorable moments.<br><br>
            All of our bouncers are well maintained and designed<img class="mainImg0"src="../images/candid1.png"> with the safest updated features which include:</p> 
            <ul class="paraList">
<li>Safety Netting</li>
<li>Safety Entrance and Exit</li>
<li>Fire Resistant</li>
<li>Entrance Ramp</li>
<li>Emergency Exit</li>
</ul>
            <br><br>
             
            <p>
            We are located in Blanchard, Ok. and serve the surrounding Oklahoma City metro areas. <br><br> We provide fun, safe quality equipment. In order to provide a safe environment for you we set up, take down and test all of our equipment before turning it over to our valued customers. <br><br>After every rental our units are thoroughly checked and cleaned. Safety instructions are given orally and in writing to each of our<img class="mainImg0"src="../images/BounceBKG.png"> customers. We also require  that a safety check off sheet is filled out by our staff at the time of set up.  This helps to ensure that the inflatables are set up correctly and are delivered in good working condition.
            
             <br><br>
            
            Note: There is a one time gas charge of $25.00 for any party that is more than 30 miles one way.
            <br><br>
           
            
            Zero Gravity Inflatables…the party begins with us!
            <img class="mainImg0"src="../images/candid2.png">
           </p>
        </div>
        <br><br>
     