
        <div class="menuPageDiv" id="menu2">
        
            <h1 class="title">Policies</h1>
            <h2 class="subtitle">Requirements
              *Emergency Procedures </h2>
            <br><br>


            <p>
Weather-- Bad weather can arrive in the form of rain, lightning or strong wind. In each case you want to evacuate the unit as quickly and safely as possible.  Help children exit the unit quickly, but in an orderly fashion. After everyone has exited the unit , deflate the unit by turning off the blower then folding the bounce over once so the interior is protected from the weather. Inflatable’s will not be set up if wind exceeds the manufacturer’s specification.
</p>
<br><br>

<p>
Loss of Electrical Power-- When a loss of power occurs the unit will slowly start to deflate. Remain Calm you should have ample time to help riders quickly and safely exit the ride. Our inflatables have removable tops in case of power loss.  We will show you how to remove the top to your inflatable before weleave it with you.  
Check to see if the blowers have come unplugged If so plug them back in and the ride will re-inflate.  DO NOT LEAVE THE UNIT UNATTENDED.
</p>
<br><br>
<p>
Damage- If the ride becomes damaged while in your operation or is ripped or otherwise begins to lose air, assist all riders from the ride and deflate it. Write down what happened, when and any other details you observed and turn into Zero Gravity Inflatables.
              <br>
         
              
            <p>
            
        </div>