$burgHeight: 83%;
#burgTop{
    min-height: $burgHeight;
    animation: colorSome 3.2s ease-out 0s infinite;
   // @include burgButt();
    transform: translateY(226%)
}
#burgMid{
    min-height: $burgHeight;
    animation: colorSome 2.2s ease-out 0s infinite;
   // @include burgButt();
    transform: translateY(0%)
}
#burgBottom{
    min-height: $burgHeight;
    animation: colorSome 2.8s ease-out 0s infinite;
  //  @include burgButt();
    transform: translateY(-226%);
  
}

#menuButton{}
.buttonContainer{
    z-index: 5;;
    position: fixed;
    min-height:1%;
    min-width: 100px;
    max-width:100px;
    bottom:7%;
    left:10%;

    }

.burger{
    position: absolute;
    border: 2px solid black;
    border-radius:15px;
   // min-height: 12px;
    min-width: 100%;
}

.menuPageDiv{
    display: none;
   position: fixed;
    min-width: 100vw;
    min-height:100vh;
    top:0;
    left:0;
    margin:0;
   // padding:4%;
  // @include mq.menuPageQ;
}

#menuPage{
    color: white;
    z-index:4;
    position: fixed;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
 
    transform: translateX(-100vw);
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease-in-out;
    transform-style: preserve-3d;

}