//CONFIGURE FONTS SIZES
//paragraph size
$pMobile:1rem;
$pTablet:1.4rem;
$pDesk:1.3rem;
$pXlrg:1.5rem;
//headline 1 size
$h1Mobile:2rem;
$h1Tablet:2rem;
$h1Desk:2rem;
$h1Xlrg:2rem;
//headline 2 size
$h2Mobile:1.5rem;
$h2Tablet:2rem;
$h2Desk:2rem;
$h2Xlrg:2rem;
//span size
$spanMobile:2rem;
$spanTablet:2.1rem;
$spanDesk:2rem;
$spanXlrg:3rem;

$mobile:"(max-width:490px)";
$tablet:"(min-width:491px) and (max-width:1280px)";
$desk:"(min-width:1281px) and (max-width:1880px)";
$xlrg:"(min-width:1881px)";

@mixin mobile(){
        p{
    font-size:$pMobile;
        }
        h1{
    font-size: $h1Mobile;
        }
        h2{
    font-size: $h2Mobile;
        }
    .pricing{
           font-size: $spanMobile;
        }
}
@mixin tablet(){
        p{
    font-size:$pTablet;
        }
        h1{
    font-size: $h1Tablet;
        }
        h2{
    font-size: $h2Tablet;
        }
        .pricing{
            font-size:$spanTablet;
        }
}
@mixin desk(){
      p{
        font-size:$pDesk;
        width:50%;
        margin-left: 25%;
        
            }
            h1{
        font-size: $h1Desk;
            }
            h2{
        font-size: $h2Desk;
            }
            .pricing{
                font-size:$spanDesk;
            }
}
@mixin xlrg(){
    p{
    font-size:$pXlrg;
    width:50%;
    margin-left: 25%;
        }
        h1{
    font-size: $h1Xlrg;
        }
        h2{
    font-size: $h2Xlrg;
        }
        .pricing{
            font-size:$spanXlrg;
        }
    }
@mixin burgQ(){
    min-width: 8%;
}
@mixin imgQ(){
    .mainImg{
    max-width: 20%;
    margin: auto;
    float: inline-end;
    }
}
@mixin menuQ(){
    .menuOptionDiv{
    margin:5%;
    }
}

@mixin contentQ(){
    // .mainContent, {
    //     width:50%;
    //     margin:0% 25% 0% 25%;
   // }
}
    @mixin mediaQuerries(){
        @media screen and #{$mobile}{
            @include mobile();
         }
         @media screen and #{$tablet}{
            @include tablet();
            @include menuQ();
         }
         @media screen and #{$desk}{
            @include desk();
          @include imgQ();
          @include menuQ();
          @include contentQ();
          @include burgQ();
            p{text-align: justify;}
         }
        @media screen and #{$xlrg}{
            @include xlrg();
           @include imgQ();
           @include menuQ();
           @include contentQ();
           @include burgQ();
            p{text-align: justify;}
         }
    }
    
    @mixin callGreetOff(){
        .callGreet {
            display:none;
        }
    }
    @mixin wsL(){
        margin:0;
        padding:0;
        width:50%;
    }

    @mixin cGreet(){
        @media screen and #{$mobile}{
        
         }
         @media screen and #{$tablet}{
            @include wsL();
            @include callGreetOff();
         }
         @media screen and #{$desk}{
            @include wsL();        
            @include callGreetOff();
         }
        @media screen and #{$xlrg}{
            @include wsL();
            @include callGreetOff();
         }
    }
    

    @mixin contactButt(){
        @media screen and #{$mobile}{
    
      
        }
        @media screen and #{$tablet}{
            max-width: 50%;
          margin-left: 25%;
          margin-top: 2%;;  
         
        }
        @media screen and #{$desk}{
            max-width: 30%;
          margin-left: 35%;
          margin-top: 2%;;
          
            #call{display: none;} 
        }
       @media screen and #{$xlrg}{
       max-width: 30%;
       margin-left: 35%;
       margin-top: 2%;
       ;
      //  margin: 1% 35% 1% 35%;
        #callNow{display: none;} 
        }
    }



    @mixin logoQuerry(){
        @media screen and #{$mobile}{
        
        }
        @media screen and #{$tablet}{
        max-width: 50%;
        margin-left: 25%;
        }
        @media screen and #{$desk}{
            max-width: 30%;
            margin-left: 35%;
        }
       @media screen and #{$xlrg}{
        max-width: 30%;
        margin-left: 35%;;
        }
    }