//CONFIGURE FONTS SIZES
//paragraph size
$pMobile:1.6rem;
$pTablet:2rem;
$pDesk:1.8rem;
$pXlrg:2rem;
//headline 1 size
$h1Mobile:5rem;
$h1Tablet:3rem;
$h1Desk:3rem;
$h1Xlrg:2rem;
//headline 2 size
$h2Mobile:5.5rem;
$h2Tablet:4.5rem;
$h2Desk:3rem;
$h2Xlrg:2rem;

$mobile:"(max-width:768px)";
$tablet:"(min-width:768px) and (max-width:1280px)";
$desk:"(min-width:1280px) and (max-width:1800px)";
$xlrg:"(min-width:1880px)";

@mixin mobile(){
        p{
    font-size:$pMobile;
        }
        h1{
    font-size: $h1Mobile;
        }
        h2{
    font-size: $h2Mobile;
        }
}
@mixin tablet(){
        p{
    font-size:$pTablet;
        }
        h1{
    font-size: $h1Tablet;
        }
        h2{
    font-size: $h2Tablet;
        }
}
@mixin desk(){
      p{
        font-size:$pDesk;
            }
            h1{
        font-size: $h1Desk;
            }
            h2{
        font-size: $h2Desk;
            }
}
@mixin xlrg(){
    p{
    font-size:$pXlrg;
        }
        h1{
    font-size: $h1Xlrg;
        }
        h2{
    font-size: $h2Xlrg;
        }
    }

    @mixin mediaQuerries(){
        @media screen and #{$mobile}{
            @include mobile();
         }
         @media screen and #{$tablet}{
            @include tablet();
         }
         @media screen and #{$desk}{
            @include desk();
         }
        @media screen and #{$xlrg}{
            @include xlrg();
         }
    }
    
    @mixin callGreetOff(){
        .callGreet {
            display:none;
        }
    }
    @mixin wsL(){
        margin:0;
        padding:0;
        width:50%;
    }

    @mixin cGreet(){
        @media screen and #{$mobile}{
        
         }
         @media screen and #{$tablet}{
            @include wsL();
            @include callGreetOff();
         }
         @media screen and #{$desk}{
            @include wsL();        
            @include callGreetOff();
         }
        @media screen and #{$xlrg}{
            @include wsL();
            @include callGreetOff();
         }
    }
    

    @mixin contactButt(){
        @media screen and #{$mobile}{
     
        }
        @media screen and #{$tablet}{
              
        }
        @media screen and #{$desk}{
            max-width: 50%;
            margin-left: 25%;;
        }
       @media screen and #{$xlrg}{
        max-width: 50%;
        margin-left: 25%;;
        }
    }

    @mixin logoQuerry(){
        @media screen and #{$mobile}{
        
        }
        @media screen and #{$tablet}{
        max-width: 50%;
        margin-left: 25%;
        }
        @media screen and #{$desk}{
            max-width: 50%;
            margin-left: 25%;
        }
       @media screen and #{$xlrg}{
        max-width: 50%;
        margin-left: 25%;;
        }
    }