@use './mq.scss';
@use'./buttons.scss';
@use './menu.scss';

//media querries configured on mq.scss
//use "@include mq.mqs()" to apply 


$primaryRed:rgba(180,49,39,1);
$primaryBlue:rgba(35,36,93,1);
$primaryGreen:rgba(90, 145, 97,1);
$primaryYellow:rgba(207,182,58,1);
$slate:rgba(76,76,76,.2);

//lightmode light
$textColorPrimary:black;
$textColorPrimaryReverse:white;
//lightmode dark
//$backgroundPrimary:rgba(255,255,255,.7);
$backgroundPrimary:$primaryGreen;
$backgroundPrimaryReverse:black;

//color mixes
$primaryRed8:rgba(180,49,39,.8);
$primaryBlue8:rgba(35,36,93,.8);
$primaryGreen8:rgba(90, 145, 97,.8);
$primaryYellow8:rgba(207,182,58,.8);

$primaryRed5:rgba(180,49,39,.5);
$primaryBlue5:rgba(35,36,93,.5);
$primaryGreen5:rgba(90, 145, 97,.5);
$primaryYellow5:rgba(207,182,58,.5);

$primaryRed2:rgba(180,49,39,.2);
$primaryBlue2:rgba(35,36,93,.2);
$primaryGreen2:rgba(90, 145, 97,.2);
$primaryYellow2:rgba(207,182,58,.2);


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@font-face{
	font-family: "modak";
	src:url("../fonts/Modak-Regular.ttf");
}
@font-face{
	font-family: "titan";
	src:url("../fonts/TitanOne-Regular.ttf");
}
@font-face{
	font-family: "openSans";
	src:url("../fonts/OpenSans.ttf");
}

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
   @include mq.mediaQuerries();
}
a{
    text-decoration: none;
}
.mainContainer{
    margin-top: 10%;
  }

.mainImg{
    margin:0;
    padding: 0;
    max-width: 100%;
    //@include mq.imgQ;
           }
.mainImg0{
    margin:2%;
    padding: 0;
    max-width: 65%;
    border:5px solid white;
    float: right;
   // @include mq.imgQ;
      }
h1{
    color:white;
 
    font-stretch: semi-expanded;
    font-weight: 100;
    font-family: "modak";
    text-align: center;
    &.butt{color: black;}
    margin:0 auto 0 auto;
      }

h2{
    text-align: center;
    color:white;
    padding:0%;
 
}

p{
  
    font-family: "openSans";
    font-weight: 600;
    background-color: rgba(255,255,255,.9);
    margin-bottom: 15%;
    padding:3%;
    margin: 2%;
@include mq.mediaQuerries();
}
.callGreet{
   // min-height: 100vh;
    min-width: 100vw;;
    @include mq.cGreet;
}
@mixin buttonColor(){
    border-top-color: $primaryBlue;
    border-inline-start-color: $primaryGreen;
    border-inline-end-color: $primaryRed;
    border-bottom-color: $primaryYellow;
}
#callNow{
   // margin-top: 35%;
   @include buttons.contactButton();
   @include buttonColor();
}
#contactNow{
    margin-top: 5%;
    @include buttons.contactButton();
    @include buttonColor();
}
#inventoryNow{
    margin-top:5%;
    @include buttons.contactButton();
    @include buttonColor();
}
.footer{
    text-align: center;
    min-width: 100vw;
    min-height: 12%;
}
#logoDiv{
    position: relative;
    min-height:20vh;
 }
@mixin logoMix(){
    padding: 0;
    margin-left:3%;
    margin-top:3%;
    max-width: 92%;
    filter: brightness(1.6)
}
#zg0{
   
    @include logoMix();
    @include mq.logoQuerry();
    animation: fade-in 2.9s ease-out 0s 1;
}
    
#zg1{
    @include logoMix();
    @include mq.logoQuerry();
    animation: fade-in 3.2s ease-out 0s 1;
    }

@keyframes fade-in{
    0%{opacity: 0;transform: translateY(-15px);}
    40%{opacity: 0;transform: translateY(-15px)}
    100%{opacity: 1;transform: translateY(0px)}
}

.mainContent{
    animation: fade-in 4.2s ease-out 0s 1;
    
}
#menu0,#menu1, #menu2, #menu3, #greeting{
    position: relative;
    
}


@keyframes colorSome{
    0%{background-color:$primaryRed}
    25%{background-color:$primaryBlue}
    50%{background-color:$primaryGreen}
    100%{background-color:$primaryYellow}
}
#menuPage{
    background-color: $primaryBlue8;
}


.menuOptionDiv{
    margin:50% 10% 10% 10%;
    text-align: center;
    @include mq.menuQ;
    li{
        font-family: "modak";
        font-weight: 300;
        font-size: 2rem;
        text-decoration: none;
        list-style: none;
      
}
}
.inventory{
    padding:5%;
    border-bottom:$primaryYellow;
    background-color: white;
}
.pricing{
    font-size: 3rem;
    color:$primaryGreen;
}
#bkgShade{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
  }

#bkgImg0{
    width:314vw;
    position: fixed;
    top:0%;
    left:-74%;
    z-index: -2;
    filter: brightness(.6);
    transform: translateX(100px),translateY(100px),scale(1.1);
}