@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
#callNow {
  margin-top: 20px;
}

#burgTop {
  min-height: 83%;
  animation: colorSome 3.2s ease-out 0s infinite;
  transform: translateY(226%);
}
@media screen and (min-width:491px) and (max-width:1280px) {
  #burgTop {
    min-width: 70%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  #burgTop {
    min-width: 70%;
  }
}
@media screen and (min-width:1881px) {
  #burgTop {
    min-width: 70%;
  }
}

#burgMid {
  min-height: 83%;
  animation: colorSome 2.2s ease-out 0s infinite;
  transform: translateY(0%);
}
@media screen and (min-width:491px) and (max-width:1280px) {
  #burgMid {
    min-width: 70%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  #burgMid {
    min-width: 70%;
  }
}
@media screen and (min-width:1881px) {
  #burgMid {
    min-width: 70%;
  }
}

#burgBottom {
  min-height: 83%;
  animation: colorSome 2.8s ease-out 0s infinite;
  transform: translateY(-226%);
}
@media screen and (min-width:491px) and (max-width:1280px) {
  #burgBottom {
    min-width: 70%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  #burgBottom {
    min-width: 70%;
  }
}
@media screen and (min-width:1881px) {
  #burgBottom {
    min-width: 70%;
  }
}

.buttonContainer {
  z-index: 5;
  position: fixed;
  min-height: 1%;
  min-width: 100px;
  max-width: 100px;
  bottom: 7%;
  left: 6%;
}

.burger {
  position: absolute;
  border: 2px solid black;
  border-radius: 15px;
  min-width: 100%;
}

.menuPageDiv {
  display: none;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
}

#menuPage {
  color: white;
  z-index: 4;
  position: fixed;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  transform: translateX(-100vw);
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

#menuFoot {
  position: absolute;
  bottom: 3%;
  text-align: center;
  width: 100%;
  filter: brightness(90%);
}
#menuFoot a {
  text-decoration: none;
  color: yellow;
}

select {
  margin-left: 1%;
}

input, select {
  font-size: 2rem;
  font-weight: 600;
  background-color: white;
  width: 98%;
  height: 40px;
  margin-top: 2%;
  text-align: center;
  border: 2px dashed black;
}
@media screen and (min-width: 700px) {
  input, select {
    width: 40%;
    margin-left: 30%;
  }
}
input .submit, select .submit {
  background-color: white;
}

label h2 {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "modak";
  src: url("../fonts/Modak-Regular.ttf");
}
@font-face {
  font-family: "titan";
  src: url("../fonts/TitanOne-Regular.ttf");
}
@font-face {
  font-family: "openSans";
  src: url("../fonts/OpenSans.ttf");
}
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
@media screen and (max-width:490px) {
  body p {
    font-size: 1rem;
  }
  body h1 {
    font-size: 2rem;
  }
  body h2 {
    font-size: 1.5rem;
  }
  body .pricing {
    font-size: 2rem;
  }
}
@media screen and (min-width:491px) and (max-width:1280px) {
  body p {
    font-size: 1.4rem;
  }
  body h1 {
    font-size: 2rem;
  }
  body h2 {
    font-size: 2rem;
  }
  body .pricing {
    font-size: 2.1rem;
  }
  body .menuOptionDiv {
    margin: 5%;
  }
  body .mainImg {
    max-width: 40%;
    margin-left: 30%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  body p {
    font-size: 1.3rem;
  }
  body h1 {
    font-size: 2rem;
  }
  body h2 {
    font-size: 2rem;
  }
  body .pricing {
    font-size: 2rem;
  }
  body .mainImg {
    max-width: 40%;
    margin-left: 30%;
  }
  body .menuOptionDiv {
    margin: 5%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) and (min-width:491px) and (max-width:1280px) {
  body {
    min-width: 70%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) and (min-width:1281px) and (max-width:1880px) {
  body {
    min-width: 70%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) and (min-width:1881px) {
  body {
    min-width: 70%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  body p {
    text-align: justify;
  }
}
@media screen and (min-width:1881px) {
  body p {
    font-size: 1.5rem;
  }
  body h1 {
    font-size: 2rem;
  }
  body h2 {
    font-size: 2rem;
  }
  body .pricing {
    font-size: 3rem;
  }
  body .mainImg {
    max-width: 40%;
    margin-left: 30%;
  }
  body .menuOptionDiv {
    margin: 5%;
  }
}
@media screen and (min-width:1881px) and (min-width:491px) and (max-width:1280px) {
  body {
    min-width: 70%;
  }
}
@media screen and (min-width:1881px) and (min-width:1281px) and (max-width:1880px) {
  body {
    min-width: 70%;
  }
}
@media screen and (min-width:1881px) and (min-width:1881px) {
  body {
    min-width: 70%;
  }
}

a {
  text-decoration: none;
}

.mainContainer {
  margin-top: 10%;
}

.mainImg {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.mainImg0 {
  margin: 2%;
  padding: 0;
  max-width: 65%;
  border: 5px solid white;
  float: right;
}

p {
  width: 86%;
  margin-left: 3%;
  background-color: white;
  padding: 4%;
  font-weight: 800;
  border: 4px dotted black;
  color: #23245d;
}

h1 {
  color: white;
  font-stretch: semi-expanded;
  font-weight: 100;
  font-family: "modak";
  text-align: center;
  margin: 0 auto 0 auto;
}
h1.butt {
  color: black;
}

h2 {
  text-align: center;
  color: white;
  padding: 0%;
}

.greetImg {
  width: 100%;
}

.paraList {
  border-radius: 20%;
  font-family: "openSans";
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 15%;
  padding: 3%;
  margin: 2%;
}
@media screen and (max-width:490px) {
  .paraList p {
    font-size: 1rem;
  }
  .paraList h1 {
    font-size: 2rem;
  }
  .paraList h2 {
    font-size: 1.5rem;
  }
  .paraList .pricing {
    font-size: 2rem;
  }
}
@media screen and (min-width:491px) and (max-width:1280px) {
  .paraList p {
    font-size: 1.4rem;
  }
  .paraList h1 {
    font-size: 2rem;
  }
  .paraList h2 {
    font-size: 2rem;
  }
  .paraList .pricing {
    font-size: 2.1rem;
  }
  .paraList .menuOptionDiv {
    margin: 5%;
  }
  .paraList .mainImg {
    max-width: 40%;
    margin-left: 30%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  .paraList p {
    font-size: 1.3rem;
  }
  .paraList h1 {
    font-size: 2rem;
  }
  .paraList h2 {
    font-size: 2rem;
  }
  .paraList .pricing {
    font-size: 2rem;
  }
  .paraList .mainImg {
    max-width: 40%;
    margin-left: 30%;
  }
  .paraList .menuOptionDiv {
    margin: 5%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) and (min-width:491px) and (max-width:1280px) {
  .paraList {
    min-width: 70%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) and (min-width:1281px) and (max-width:1880px) {
  .paraList {
    min-width: 70%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) and (min-width:1881px) {
  .paraList {
    min-width: 70%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  .paraList p {
    text-align: justify;
  }
}
@media screen and (min-width:1881px) {
  .paraList p {
    font-size: 1.5rem;
  }
  .paraList h1 {
    font-size: 2rem;
  }
  .paraList h2 {
    font-size: 2rem;
  }
  .paraList .pricing {
    font-size: 3rem;
  }
  .paraList .mainImg {
    max-width: 40%;
    margin-left: 30%;
  }
  .paraList .menuOptionDiv {
    margin: 5%;
  }
}
@media screen and (min-width:1881px) and (min-width:491px) and (max-width:1280px) {
  .paraList {
    min-width: 70%;
  }
}
@media screen and (min-width:1881px) and (min-width:1281px) and (max-width:1880px) {
  .paraList {
    min-width: 70%;
  }
}
@media screen and (min-width:1881px) and (min-width:1881px) {
  .paraList {
    min-width: 70%;
  }
}

.callGreet {
  min-width: 100vw;
}
@media screen and (min-width:491px) and (max-width:1280px) {
  .callGreet {
    margin: 0;
    padding: 0;
    width: 50%;
  }
  .callGreet .callGreet {
    display: none;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  .callGreet {
    margin: 0;
    padding: 0;
    width: 50%;
  }
  .callGreet .callGreet {
    display: none;
  }
}
@media screen and (min-width:1881px) {
  .callGreet {
    margin: 0;
    padding: 0;
    width: 50%;
  }
  .callGreet .callGreet {
    display: none;
  }
}

#contactNow {
  color: black;
  box-shadow: inset 0px 2px 15px 5px rgba(0, 0, 0, 0.65);
  width: 91%;
  padding: 0;
  border-radius: 100px;
  text-align: center;
  border: 10px solid transparent;
  font-family: "modak";
  background-color: white;
  transform-style: preserve-3d;
  transition-duration: 0.8s;
  border-top-color: #23245d;
  border-inline-start-color: #5a9161;
  border-inline-end-color: #b43127;
  border-bottom-color: #eee097;
  min-height: 40px;
}
#contactNow:hover {
  transform: scale(1.03);
}
#contactNow:active {
  transform: scale(0.9);
  transition-delay: 0.3s;
}
@media screen and (min-width:491px) and (max-width:1280px) {
  #contactNow {
    max-width: 50%;
    margin-left: 25%;
    margin-top: 2%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  #contactNow {
    max-width: 30%;
    margin-left: 35%;
    margin-top: 2%;
  }
  #contactNow #call {
    display: none;
  }
}
@media screen and (min-width:1881px) {
  #contactNow {
    max-width: 30%;
    margin-left: 35%;
    margin-top: 2%;
  }
  #contactNow #callNow {
    display: none;
  }
}

#callNow {
  color: black;
  box-shadow: inset 0px 2px 15px 5px rgba(0, 0, 0, 0.65);
  width: 91%;
  padding: 0;
  border-radius: 100px;
  text-align: center;
  border: 10px solid transparent;
  font-family: "modak";
  background-color: white;
  transform-style: preserve-3d;
  transition-duration: 0.8s;
  border-top-color: #23245d;
  border-inline-start-color: #5a9161;
  border-inline-end-color: #b43127;
  border-bottom-color: #eee097;
}
#callNow:hover {
  transform: scale(1.03);
}
#callNow:active {
  transform: scale(0.9);
  transition-delay: 0.3s;
}
@media screen and (min-width:491px) and (max-width:1280px) {
  #callNow {
    max-width: 50%;
    margin-left: 25%;
    margin-top: 2%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  #callNow {
    max-width: 30%;
    margin-left: 35%;
    margin-top: 2%;
  }
  #callNow #call {
    display: none;
  }
}
@media screen and (min-width:1881px) {
  #callNow {
    max-width: 30%;
    margin-left: 35%;
    margin-top: 2%;
  }
  #callNow #callNow {
    display: none;
  }
}

#contactNow {
  margin-top: 5%;
  color: black;
  box-shadow: inset 0px 2px 15px 5px rgba(0, 0, 0, 0.65);
  width: 91%;
  padding: 0;
  border-radius: 100px;
  text-align: center;
  border: 10px solid transparent;
  font-family: "modak";
  background-color: white;
  transform-style: preserve-3d;
  transition-duration: 0.8s;
  border-top-color: #23245d;
  border-inline-start-color: #5a9161;
  border-inline-end-color: #b43127;
  border-bottom-color: #eee097;
}
#contactNow:hover {
  transform: scale(1.03);
}
#contactNow:active {
  transform: scale(0.9);
  transition-delay: 0.3s;
}
@media screen and (min-width:491px) and (max-width:1280px) {
  #contactNow {
    max-width: 50%;
    margin-left: 25%;
    margin-top: 2%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  #contactNow {
    max-width: 30%;
    margin-left: 35%;
    margin-top: 2%;
  }
  #contactNow #call {
    display: none;
  }
}
@media screen and (min-width:1881px) {
  #contactNow {
    max-width: 30%;
    margin-left: 35%;
    margin-top: 2%;
  }
  #contactNow #callNow {
    display: none;
  }
}

#inventoryNow {
  margin-top: 5%;
  color: black;
  box-shadow: inset 0px 2px 15px 5px rgba(0, 0, 0, 0.65);
  width: 91%;
  padding: 0;
  border-radius: 100px;
  text-align: center;
  border: 10px solid transparent;
  font-family: "modak";
  background-color: white;
  transform-style: preserve-3d;
  transition-duration: 0.8s;
  border-top-color: #23245d;
  border-inline-start-color: #5a9161;
  border-inline-end-color: #b43127;
  border-bottom-color: #eee097;
}
#inventoryNow:hover {
  transform: scale(1.03);
}
#inventoryNow:active {
  transform: scale(0.9);
  transition-delay: 0.3s;
}
@media screen and (min-width:491px) and (max-width:1280px) {
  #inventoryNow {
    max-width: 50%;
    margin-left: 25%;
    margin-top: 2%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  #inventoryNow {
    max-width: 30%;
    margin-left: 35%;
    margin-top: 2%;
  }
  #inventoryNow #call {
    display: none;
  }
}
@media screen and (min-width:1881px) {
  #inventoryNow {
    max-width: 30%;
    margin-left: 35%;
    margin-top: 2%;
  }
  #inventoryNow #callNow {
    display: none;
  }
}

.footer {
  text-align: center;
  min-width: 100vw;
  min-height: 12%;
}

#logoDiv {
  position: relative;
  min-height: 20vh;
}

#zg0 {
  padding: 0;
  margin-left: 3%;
  margin-top: 3%;
  max-width: 92%;
  filter: brightness(1.6);
  animation: fade-in 2.9s ease-out 0s 1;
}
@media screen and (min-width:491px) and (max-width:1280px) {
  #zg0 {
    max-width: 50%;
    margin-left: 25%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  #zg0 {
    max-width: 30%;
    margin-left: 35%;
  }
}
@media screen and (min-width:1881px) {
  #zg0 {
    max-width: 30%;
    margin-left: 35%;
  }
}

#zg1 {
  padding: 0;
  margin-left: 3%;
  margin-top: 3%;
  max-width: 92%;
  filter: brightness(1.6);
  animation: fade-in 3.2s ease-out 0s 1;
}
@media screen and (min-width:491px) and (max-width:1280px) {
  #zg1 {
    max-width: 50%;
    margin-left: 25%;
  }
}
@media screen and (min-width:1281px) and (max-width:1880px) {
  #zg1 {
    max-width: 30%;
    margin-left: 35%;
  }
}
@media screen and (min-width:1881px) {
  #zg1 {
    max-width: 30%;
    margin-left: 35%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  40% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.mainContent {
  animation: fade-in 4.2s ease-out 0s 1;
}

#menu0, #menu1, #menu2, #menu3, #greeting {
  position: relative;
}

@keyframes colorSome {
  0% {
    background-color: #b43127;
  }
  25% {
    background-color: #23245d;
  }
  50% {
    background-color: #5a9161;
  }
  100% {
    background-color: #eee097;
  }
}
#menuPage {
  background-color: rgba(35, 36, 93, 0.8);
}

.menuOptionDiv {
  margin: 50% 10% 10% 10%;
  text-align: center;
}
.menuOptionDiv .menuOptionDiv {
  margin: 5%;
}
.menuOptionDiv li {
  font-family: "modak";
  font-weight: 300;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
}

.inventory {
  padding: 5%;
  border-bottom: #eee097;
  background-color: white;
}

.pricing {
  font-size: 3rem;
  color: #5a9161;
}

#bkgShade {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
}

#bkgImg0 {
  width: 314vw;
  position: fixed;
  top: 0%;
  left: -74%;
  z-index: -2;
  filter: brightness(0.6);
  transform: translateX(100px), translateY(100px), scale(1.1);
}

/*# sourceMappingURL=style.css.map */
