<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zero Gravity Bounce</title>
    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body onload="listenerAdds()">
   
    <%- include('../partials/header.ejs')-%>
 
   

    
 <div class="mainContainer">
   <h1>Thank you for Conatacting Us!!</h1><br><br><h1> We will have someone get right back to you!! </h1>
  <a href="/"><h2>Return to Home Page</h2></a>
      </div>
   

<%- include('../partials/background0.ejs')-%>
<%- include('../partials/footer.ejs')-%>
</div>
<script type="text/javascript" src="js/index.js"></script>

  </body>
</html>
